.header{
    padding: 15px;
    text-align: left;
    background: aqua;
    text-indent: 25px;
}

.homepage_menu{
    padding: 10px;
    text-align: left;
    background: aqua;
    text-indent: 50px;
    font-size: large;
    box-shadow: 10px 10px 5px grey;
}

#localLink:link{
    color: black;
    text-decoration: none;
}

#localLink:active{
    font-weight: bold;
    color: black;
    text-decoration: none;
}

#localLink:hover{
    font-weight: bold;
    color: black;
    text-decoration: none;
}

#localLink:visited{
    color: black;
    text-decoration: none;
}