.header{
    padding: 20px;
    text-align: left;
    background: aqua;
    text-indent: 25px;
}

.homepage_menu{
    padding: 15px;
    text-align: left;
    background: aqua;
    text-indent: 25px;
}