#div1{
    font-size: 10px;
    background-color: red;
}

#div1:hover{
    font-weight: bold;
}

#div2{
    font-size: 20px;
    background-color: blue;
}

#div2:hover{
    font-weight: bold;
}

#div3{
    font-size: 30px;
    background-color: green;
}

#div3:hover{
    font-weight: bold;
}